.scroll-section{
    display:flex;
    overflow-x:auto;
    scroll-snap-type:x mandatory;
    justify-content: center;
    width:100%
}
.scroll-section-header{
    text-align:center;
    margin-bottom:1rem;
    width:50%;
    border: 1px solid var(--blue-section)
}

.scroll-section-item{
    scroll-snap-align:start;
    width:50%
}

swiper-container::part(bullet-active){
    background-color:var(--blue-section);
}

.swiper-image{
    height:100%;
    mix-blend-mode:multiply;
}