.main-title{
    color:var(--green-text);
    font-size:5em;
}

.subheading{
    color:var(--blue-section);
    font-size:2em;
    font-weight: 700;;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background:var(--blue-2);
    width:100%
}

.about-container > h2{

    color: var(--green-text);
}

.about-container > p{
    font-weight: 400;

}