nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--green-section);
    color:var(--green-text);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navItems{
    display: flex;
    gap: 20px;
}