.nav-item{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-active{
    color: var(--white);
    text-decoration: underline;
    box-sizing: border-box;
    box-shadow: 0 2px 0px var(--dark-green-section);
}

.dropdown-menu{
    position:absolute;
    top:50px
}

.dropdown-item{
    background-color:var(--green-section);
}