.faq-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.faq-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--dark-green-section);
    margin: 1em;
    width:100%;
    max-width: 800px;
}