@import "tailwindcss";

:root {
  --background: #FFFCF7;
  --foreground: #738290;

  --green-section: #E4F0D0;
  --blue-section: #A1B5D8;
  --dark-green-section:#C2D8B9;

  --green-text:#02735E;
  --blue-2:#E0F7F1
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--green-text);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.head-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background:var(--blue-2);
    width:100%
}

.head-container > h1{

    color: var(--green-text);
    font-size:4em;
}

.head-container > p{
    font-weight: 400;

}