.intro{
    background-color: var(--dark-green-section);
}

.hero {

}

.hero h1 {
    font-size: 5rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--blue-section);
}