.card-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green-section);
}



.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: auto;


}

.banner-title{
    font-weight: 700;

    border-radius: 1em;
    padding: .5rem;    

}

@media screen and (min-width: 1000px) {
    .banner-content {
        flex-direction: row;
        justify-content: space-between;
    }
  
}