/* Footer */
footer{
position: relative;
display:flex;
flex-direction:column;
margin:0px;
}

footer > div{
    flex-grow:1;
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    letter-spacing: -0.02em;
    color: #738290;
}



.footer-content{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: #E4F0D0;
}

.footer-content > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #E4F0D0;
    margin:0 2em;
}

/* Rectangle 7 

position: absolute;
left: 0%;
right: 0%;
top: 23.57%;
bottom: 0%;

background: #E4F0D0;


/* Rectangle 6 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Shop *

position: absolute;
left: 2.15%;
right: 93.75%;
top: 35.25%;
bottom: 58.81%;

/* Heading *
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px *
letter-spacing: -0.02em;

color: #738290;



/* Address *

position: absolute;
left: 73.06%;
right: 20.42%;
top: 35.25%;
bottom: 58.81%;

/* Heading *
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px *
letter-spacing: -0.02em;

color: #738290;



/* 123 Old Street London *

position: absolute;
left: 73.06%;
right: 12.43%;
top: 42.01%;
bottom: 46.11%;

/* Heading *
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* or 29px *
letter-spacing: -0.02em;

color: #738290;



/* Shop All *

position: absolute;
left: 2.15%;
right: 92.43%;
top: 71.31%;
bottom: 23.77%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Acupuncture Needles *

position: absolute;
left: 2.15%;
right: 83.68%;
top: 46.72%;
bottom: 48.36%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290



/* Electroacupuncture *

position: absolute;
left: 2.15%;
right: 85%;
top: 54.92%;
bottom: 40.16%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Cosmo MOQ *

position: absolute;
left: 2.15%;
right: 89.44%;
top: 63.11%;
bottom: 31.97%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Learn *

position: absolute;
left: 20.62%;
right: 74.93%;
top: 35.25%;
bottom: 58.81%;

/* Heading *
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px *
letter-spacing: -0.02em;

color: #738290;



/* About us *

position: absolute;
left: 20.62%;
right: 73.47%;
top: 46.72%;
bottom: 48.36%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Acupuncture Needles *

position: absolute;
left: 20.62%;
right: 65.21%;
top: 63.11%;
bottom: 31.97%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Our Products *

position: absolute;
left: 20.62%;
right: 70.69%;
top: 54.92%;
bottom: 40.16%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Hwato *

position: absolute;
left: 20.62%;
right: 75.07%;
top: 71.31%;
bottom: 23.77%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Built by: ... *

position: absolute;
left: 73.06%;
right: 20.14%;
top: 73.77%;
bottom: 21.31%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Contact us *

position: absolute;
left: 45.56%;
right: 47.29%;
top: 46.72%;
bottom: 48.36%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Email: hello@sanvitahealth.co.uk *

position: absolute;
left: 73.06%;
right: 5.56%;
top: 64.14%;
bottom: 30.94%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;


/* Terms of Service *

position: absolute;
left: 45.56%;
right: 43.33%;
top: 54.92%;
bottom: 40.16%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *

color: #738290;



/* Privacy Policy *

position: absolute;
left: 45.56%;
right: 45.28%;
top: 63.11%;
bottom: 31.97%;

/* Subheading *
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px *
color: #738290;



/* Further Information *

position: absolute;
left: 45.56%;
right: 39.31%;
top: 35.25%;
bottom: 58.81%;

/* Heading *
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px *
letter-spacing: -0.02em;

color: #738290;

*/

/* Vector 1 */

.footer-decoration {
    
width:100%;

}

.footer-content{
    background: #e4f0d0;
}

.footer-decoration img{
    width:100%;
    margin:0;
}