.highlight-banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid var(--blue-section);
    background-color: var(--blue-2);
    min-height:300px
}

.highlight-items{
    display:flex;
    
    justify-content: center;
    align-items: center;
    width:100%;

}

.highlight-banner h2{
    color: var(--foreground);
    font-weight: 700;
    margin-bottom: 1rem;
}


.highlight-item{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight-item li {
    list-style: none;
    color: var(--foreground);
}

.highlight-item li ::before {
    content: "-";
    color: var(--blue-2);
    margin-right: 0.5rem;
}

.highlight-item-images-content{
    mix-blend-mode: multiply;
    overflow: hidden;

    display:flex;
    transition: transform 0.3s ease;
    
    
}

.highlight-item-images-content img{

    object-fit: cover;
    transition: transform 0.3s ease;

}

.active{
    transform: translateX(-3rem);
    transition: transform 0.3s ease;
}

@media screen and (min-width: 1000px) {
    .highlight-items{
        width: 80%;
        justify-content: space-between;
    }
    .highlight-item{
        width: 30%;
    }
    .highlight-item-images-content img{
        width: 100%;
        height: auto;
    }
    
}