.quality-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:1rem;
}

.video-container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:  flex-end;
}

.video-text{
    color:#c00000;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.safety-quality{
    background-color: var(--blue-section);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quality-image-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quality-image-item, .quality-image-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin: 1rem 0;
}

.quality-image-item img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    mix-blend-mode: multiply;
}



@media screen and (min-width:1000px) {
    .quality-container{
        flex-direction: row;
    }
    .video-container{
        width: 40%;
    }
    .quality-image-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .quality-image-wrapper{
    width: 100%;
    flex-direction: row;

}

    .quality-image-item, .quality-image-text{
        width: 30%;
        display: flex;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
    }

    .quality-image-item img{
        width: 100%;
        height: auto;
        border-radius: 1rem;
        mix-blend-mode: multiply;
    }
    .reverse{
    flex-direction: row-reverse;
}
}