.quick-info-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;

}

.quick-info-item-bold, .quick-info-title-bold{
    font-weight: bold;
    color:#C2010D;
}

.quick-info-item-bold p, .quick-info-title-bold p{
    font-size:1.2rem;
}

.quick-info-item-body{
    display: flex;
    font-weight: 400;
}
.quick-info-item-body p{
    margin: 0;
    padding: 0;
    text-align: center;
}

.quick-info-item-bold:hover, .quick-info-title-bold:hover{
    color: red;
    transform:scale(1.1);
    text-decoration: underline;
}

@media screen and (min-width: 1000px) {
    
    .quick-info-item-bold p{
        font-size: 2rem;
    }

    .quick-info-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding:2rem;
    border-radius: 1rem;

}

    
}