
.product-showcase {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding: 2rem;
    
}

.product-left,
.product-middle,
.product-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    padding: 1rem;
}

.product-middle{
    flex: 3;
}

.product-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: auto;
    display:inline-block;
    border-radius: 1em;
    padding: .5rem;
}

.product-image {
    width:100%;
    max-width: 1000px;
}

.product-paragraph {
    margin: 1rem 0;
}
