
.product-showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.product-left,
.product-middle,
.product-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1rem;
}

.product-middle{
    flex: 3;
}

.product-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: auto;
    display:inline-block;
    border-radius: 1em;
    padding: .5rem;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-paragraph {
    margin: 1rem 0;
}
